label {
    display: block;
    margin-bottom: 10px;
  }
  
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
  }
  body {
    background-color: rgb(39, 39, 44);
  }
  #wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #wrapper > * {
    width: 50%;
  }
  .accordion {
    display: inline-block;
    background-image: linear-gradient(to bottom, #eee, #ccc);
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: auto;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-right: 10px;
    border-radius: 4px;
  }
  
  .accordion:hover {
    background-image: linear-gradient(to bottom, #ccc, #aaa);
  }
  
  .accordion.active {
    background-image: linear-gradient(to bottom, #444, #222);
    color: #fff;
  }
  
  .accordion.active:hover {
    background-image: linear-gradient(to bottom, #222, #000);
  }
  

.panel {
  padding: 0 18px;
  display: none;
  background-color: rgb(235, 228, 228);
  overflow: hidden;
  border-radius: 10px;
}
.s_button {
  background: linear-gradient(to bottom, #ff0000, #3a0202);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  transition: all 0.3s ease;
  margin-right: 10px; /* add some spacing between buttons */
}

.s_button.selected {
  background: #ccc; /* change the background color of selected buttons */
}

.s_button:hover {
  background: #01ff22;
}

.s_button:active {
  background: #1003ca;
}



